KiCadLibraries/3dmodels/Arduino.3dshapes/arduino-mega-2560-9.snapshot.4/
KiCadLibraries/3dmodels/Arduino.3dshapes/arduino-mini-pro-1.snapshot.4/
KiCadLibraries/3dmodels/Arduino.3dshapes/arduino-pro-mini-6.snapshot.2/
KiCadLibraries/3dmodels/Arduino.3dshapes/arduino-uno-r3-ch340-1.snapshot.7/
KiCadLibraries/3dmodels/Arduino.3dshapes/bak/
KiCadLibraries/3dmodels/Arduino2.3dshapes/bak/
KiCadLibraries/3dmodels/ESP-01.3dshapes/bak/
KiCadLibraries/3dmodels/ESP8266.3dshapes/bak/
KiCadLibraries/3dmodels/Heatsink.3dshapes/127056238-659-sk_81_____l_37_5/
KiCadLibraries/3dmodels/Heatsink.3dshapes/heatsinks-3.snapshot.4/
KiCadLibraries/3dmodels/Mechanical.3dshapes/cella-di-carico-50kg-1.snapshot.1/
KiCadLibraries/3dmodels/Misc.3dshapes/132384372-659-1757035.zip
KiCadLibraries/3dmodels/RaspberryPi.3dshapes/raspberry-pi-3-model-b-2.snapshot.2/
KiCadLibraries/3dmodels/RaspberryPi.3dshapes/raspberry-pi-4-b-work-in-progress-1.snapshot.6/
KiCadLibraries/3dmodels/RaspberryPi.3dshapes/raspberry-pi-cm4-catspi-dev-kit-1.snapshot.2/
KiCadLibraries/3dmodels/RaspberryPi.3dshapes/raspberry-pi-pico-2.snapshot.33/
KiCadLibraries/3dmodels/RaspberryPi.3dshapes/raspberry-pi-zero-w-1.snapshot.1/
KiCadLibraries/3dmodels/Screen.3dshapes/2-8in-lcd-module-1.snapshot.7/
KiCadLibraries/3dmodels/SparkFun-Electromechanical.3dshapes/geometry_edit_blender/products/9032/geometry_edit_blender/
KiCadLibraries/3dmodels/SparkFun-Electromechanical.3dshapes/products/9032/geometry_edit_blender/
KiCadLibraries/3dmodels/ESP32.3dshapes/3d/
KiCadLibraries/3dmodels/ESP32.3dshapes/esp32-cam-wifi-bluetooth-1.snapshot.5/
*.bak
*~
KiCadLibraries/3dmodels/ESP8266.3dshapes/Lolin NodeMCU ESP8266 V3.SLDPRT
KiCadLibraries/3dmodels/ESP8266.3dshapes/Lolin NodeMCU ESP8266 V3.wrl
KiCadLibraries/3dmodels/Molex/
OpenSCADlibraries/NopSCADlib
